.title{
    font-family: 'Oswald', serif;
    font-weight: bolder;
    letter-spacing: -1px;
    text-align: center;
}

.cardImg {
    width: 100%;
    height: auto;
    padding: 0px 8px 0px 0px;
    border-radius: 2% 5% 5% 0%;
}

.userImg {
    width: 100%;
    height: auto;
}